<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera to scan your receipt.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use the microphone so you can dictate the details.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We transcribe your voice description to add details to the receipt.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We tag the receipt with the location of the purchase.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We save processed receipt images to your library when you export.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos to import payment screenshots.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).UIWindowSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>